<footer
  class="bg-cover bg-[url('/footer.webp')] w-screen h-[400px] flex flex-col justify-center items-center text-white"
>
  <div class="footer-content">
    <p class="text-center lowercase">
      © 2025 La Velada del Año. Todos los derechos reservados.
    </p>
  </div>
</footer>
